*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'roboto',sans-serif;
}

.feather{
    stroke-width: 1;
    width: 30px;
    height:30px;
}

.footer{
    width: 100%;
    height: 100%;
    background-color: #2B2024;
    color: #FBF9FA;
    display: flex;
    flex-direction: column;
}

.footer-container{
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.footer-item{
    display: flex;
    flex-direction: column;
}


.footer-title{
    font-size: 30px;
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title .feather{
    display: none; 
}

@media (max-width: 960px){
    .footer-container{
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer-container .footer-item ~ .footer-item{
        margin: 20px 0 0 0;
    }

    .footer-item{
        width: 100%;
        height: 41px;
        /* border:1px solid #FBF9FA; */
        overflow-y: hidden;
    }

    .footer-title .feather{
        display: block; 
    }

    .footer-item.active{
        height: 100%;
    }

    
}
/*----------------------------------------*/

.footer-brand{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.footer-brand-logo{
    font-size: 30px;
}

.footer-brand-logo span{
    color: #FD0054;
}
.footer-brand-description{
    font-weight: 300;
}

@media(max-width: 960px){
    .footer-item.show{
        height: 150px;
    }
}


/*----------------------------------------------*/
.footer-menu-link{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-menu-link li ~ li{
    margin: 20px 0 0 0;
}

.footer-menu-link a{
    font-weight: 300;
    text-decoration: none;
    color:#FBF9FA;
}

@media (max-width:560px){
    

    .footer-menu-link{
        display: flex;
    }
    

}
/*-------------------------------------*/

.footer-popular-post{
    display: flex;
    flex-direction: column;

}

.footer-popular-post .footer-popular-post-item ~.footer-popular-post-item{
    padding: 20px 0 0 0;
    border-top: 1px solid #FBF9FA;
}

.footer-popular-post-item{
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-weight: 300;
    padding: 0 0 20px 0;
}

.footer-popular-post-item img{
    width: 80px;
}

.footer-popular-post-item-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    padding: 0 0 0 20px;
}

.footer-popular-post-item-information-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
    color: #FD0054;
}

.footer-popular-post-item-information-date div{
    padding: 0 0 0 10px;
}


/*-----------------------------------*/

.footer-item .footer-contact-item ~ .footer-contact-item{
    margin: 20px 0 0 0 ;
}

.footer-contact-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
}

.footer-contact-item .feather{
    color: #FD0054;
}


.footer-contact-item div{
    margin: 0 0 0 20px;
}

@media(max-width:560px){
    
}

/*---------------------------------------------*/
.credit-social{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.credit{
    flex:50%;
    font-size: 14px;
    font-weight: 300;
}

.social{
    display: flex;
    justify-content: center;
    flex:50%;
}

.social .feather ~ .feather{
    margin: 0 0 0 50px;
}

@media(max-width:960px){
    .credit-social{
        flex-direction: column;
        padding: 50px 10px 30px 10px;
    }
    .credit{
        margin: 30px 0 0 0;
        order:1;
    }
}