* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    background-color: #FBF9FA;
    color: #2B2024;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    


}

a {
    text-decoration: none;
    color: #2B2024;
}

/*--------------------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2024;
    color: #FBF9FA;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem
}

.brand-title span {
    color: #FD0054;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #FBF9FA;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #FD0054;
    transition: all linear 0.5s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FBF9FA;
    border-radius: 10px;
}

@media (max-width: 960px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        transition: all linear 0.5s;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        transition: all linear 0.5s;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


}


/*-----------------------------------------*/


.container {
    /* border: 1px solid black; */
    max-width: 960px;
    margin: 100px auto;
}

@media (max-width: 960px) {
    .container {
        padding: 0 10px 0 10px;
    }

    .container .box~.box {
        margin: 30px 0 0 0;
    }
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box img {
    width: 300px;
}

.box-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 0 0 0 3rem;
    justify-content: space-between;
    align-items: flex-start;
}

.box-title,
.box-name,
.box-information,
.box-button {
    margin: 25px 0 0 0;
}

.box-content .box-title {
    font-weight: 400;

}

.box-content h1 {
    font-weight: 500;
    font-size: 30px;

}

.box-content p {
    font-weight: 300;
    font-size: 16px;

}

.box-content button {
    border: 1px solid #FD0054;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #FD0054;

}

.box.box-reflect img {
    order: 1;
}

.box.box-reflect .box-content {
    align-items: flex-end;
    margin: 0 3rem 0 0;
    text-align: right;
}


@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .box img {
        width: 100%;
    }

    .box-content {
        margin: 0;
    }

    .box.box-reflect img {
        order: 0;
    }

    .box.box-reflect .box-content {
        margin: 0;
    }
}

/*#region footer*/

.feather {
    stroke-width: 1;
    width: 30px;
    height: 30px;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: #2B2024;
    color: #FBF9FA;
    display: flex;
    flex-direction: column;
}

.footer-container {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.footer-item {
    display: flex;
    flex-direction: column;
}


.footer-title {
    font-size: 30px;
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.footer-title .feather {
    display: none;
}

@media (max-width: 960px) {
    .footer-container {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer-container .footer-item~.footer-item {
        margin: 20px 0 0 0;
    }

    .footer-item {
        width: 100%;
        height: 41px;
        /* border:1px solid #FBF9FA; */
        overflow-y: hidden;
    }

    .footer-title .feather {
        display: block;
    }

    .footer-item.active {
        height: 100%;
    }


}

/*----------------------------------------*/

.footer-brand {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.footer-brand-logo {
    font-size: 30px;
}

.footer-brand-logo span {
    color: #FD0054;
}

.footer-brand-description {
    font-weight: 300;
}

@media(max-width: 960px) {
    .footer-item.show {
        height: 200px;
    }
}


/*----------------------------------------------*/
.footer-menu-link {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-menu-link li~li {
    margin: 20px 0 0 0;
}

.footer-menu-link a {
    font-weight: 300;
    text-decoration: none;
    color: #FBF9FA;
}

@media (max-width:560px) {


    .footer-menu-link {
        display: flex;
    }


}

/*-------------------------------------*/

.footer-popular-post {
    display: flex;
    flex-direction: column;

}

.footer-popular-post .footer-popular-post-item~.footer-popular-post-item {
    padding: 20px 0 0 0;
    border-top: 1px solid #FBF9FA;
}

.footer-popular-post-item {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    font-weight: 300;
    padding: 0 0 20px 0;
}

.footer-popular-post-item img {
    width: 80px;
}

.footer-popular-post-item-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    padding: 0 0 0 20px;
}

.footer-popular-post-item-information-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
    color: #FD0054;
}

.footer-popular-post-item-information-date div {
    padding: 0 0 0 10px;
}


/*-----------------------------------*/

.footer-item .footer-contact-item~.footer-contact-item {
    margin: 20px 0 0 0;
}

.footer-contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
}

.footer-contact-item .feather {
    color: #FD0054;
}


.footer-contact-item div {
    margin: 0 0 0 20px;
}

@media(max-width:560px) {}

/*---------------------------------------------*/
.credit-social {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.credit {
    flex: 50%;
    font-size: 14px;
    font-weight: 300;
}

.social {
    display: flex;
    justify-content: center;
    flex: 50%;
}

.social .feather~.feather {
    margin: 0 0 0 50px;
}

@media(max-width:960px) {
    .credit-social {
        flex-direction: column;
        padding: 50px 10px 30px 10px;
    }

    .credit {
        margin: 30px 0 0 0;
        order: 1;
    }
}

/*#endregion footer*/